---
http_interactions:
- request:
    method: post
    uri: https://api.producthunt.com/v1/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"7628701ec219201fffc0978396d7a057d16a80e3004dabcc93afca0e51b0dd0e","client_secret":"676d199e598272a11f74f49d3a6669864ece19103551e802ac02be4ccadb852d","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38d4c800df9f77e9ef03b8c2d93977d3"
    body:
      encoding: UTF-8
      string: '{"access_token":"69f84a48e1d46cbc374eee8f3b2097f514221c1a76100c8f7484408899d91843","token_type":"bearer","scope":"public"}'
  recorded_at: Sun, 03 Jul 2016 13:40:10 GMT
- request:
    method: get
    uri: https://api.producthunt.com/v1/posts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 69f84a48e1d46cbc374eee8f3b2097f514221c1a76100c8f7484408899d91843
      If-None-Match:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '900'
      X-Rate-Limit-Reset:
      - '900'
      Etag:
      - W/"e0fe248341eb1e472dea29ccf330eb49"
    body:
      encoding: UTF-8
      string: '{"posts":[{"category_id":1,"day":"2016-07-03","id":68433,"name":" Stacksight","product_state":"default","tagline":"Operational
        insights for your  Open Source applications","comments_count":9,"created_at":"2016-07-03T03:42:23.969-07:00","current_user":{},"discussion_url":"https://www.producthunt.com/tech/stacksight?utm_campaign=producthunt-api&utm_medium=api&utm_source=Application%3A+product+rank+%28ID%3A+2655%29","exclusive":null,"featured":true,"maker_inside":true,"makers":[{"id":448848,"created_at":"2016-02-09T13:05:15.108-08:00","name":"Lior
        Kesos","username":"lior_kesos","headline":null,"twitter_username":"liorkesos","website_url":null,"profile_url":"https://www.producthunt.com/@lior_kesos","image_url":{"30px":"https://ph-avatars.imgix.net/448848/original?auto=format&fit=crop&crop=faces&w=30&h=30","32px":"https://ph-avatars.imgix.net/448848/original?auto=format&fit=crop&crop=faces&w=32&h=32","40px":"https://ph-avatars.imgix.net/448848/original?auto=format&fit=crop&crop=faces&w=40&h=40","44px":"https://ph-avatars.imgix.net/448848/original?auto=format&fit=crop&crop=faces&w=44&h=44","48px":"https://ph-avatars.imgix.net/448848/original?auto=format&fit=crop&crop=faces&w=48&h=48","50px":"https://ph-[...]
